body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial;
}

header {
    background: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    background: rgb(190, 6, 0);
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
}

main {
    padding: 20px;
}

.filtro {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.filtro select {
    padding: 8px;
    margin-left: 10px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    border: 3px #000000;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 200px;
}

.card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.card p {
    font-size: 13px;
    margin: 5px 0;
}