* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

header {
    background: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
}

header div {
    display: flex;
}

.espaco a:hover{
    cursor: pointer;
    color: crimson;
}

button {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    background: rgb(190, 6, 0);
    color: #fff;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
}

main {
    padding: 20px;
}

.filtro {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.filtro select {
    padding: 8px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filtro label {
    width: 10px;
    height: 10px;
    font-weight: bold;
}

table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: rgb(209, 255, 23);
    color: #000;
    border-radius: 0 4 8px; 
}

.modal {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    background: #fff;
    width: 500px;
    max-width: 90%;
    padding: 30px;
    margin: 100px auto;
    border-radius: 8px;
}

.modal-content select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.modal-buttons button {
    flex: 1; /* botões com mesmo tamanho*/
    padding: 10px;
}